<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
    	<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/team16CSS.css" rel="stylesheet">
        
		<title>PLAYING VERSION: Team 16: T-Planner </title>
    </head>

    <body ng-app="my-app" ng-controller="AppController">
        

   	<h1>Hello. {{data.tes}} Pew: {{destination}}</h1>
    <h1>Hello2. {{currentLocation}} Pew: {{destination}}</h1>
<!--        <div ng-repeat='image in images'>
            <img ng-src="{{image}}" style="z-index: 100; position: absolute; width: 50%; margin-left:16%; " />
        </div>
        
        <span class="{{close}}" style="z-index:150; position:absolute; margin-left:75%; margin-top: 4%;" ng-click="enlarge()"></span>
            
     -->       
           
<!--            <span ng-show="currentLocation==''">
                <h3>Please choose your <red2>current location</red2> from the <red2>list of stations below</red2>: </h3> 
            </span>

            <span ng-show="(currentLocation!='') && (destination =='')">
                <h3>Please choose your <red2>destination</red2> from the <red2>list of stations below</red2>: </h3>
            </span>

            <span ng-show="(currentLocation!='') && (destination !='')">
                <h3>Please choose either <red2>Brief instructions</red2> or <red2>Pictorial Guide</red2> at the top right of the page. 				</h3>
            </span>

            </br>
            </br>-->

<!--            <table class="table table-bordered" style="width:100%">

                <tr>

                    <td style="width:10%">East West Line</td>
                    <td style="width:10%">North South Line</td>
                    <td style="width:10%">North East Line</td>
                    <td style="width:10%">Circle Line</td>
                    <td style="width:10%">Downtown Line</td>
                    <td style="width:10%">LRT</td>
                    <td><b>MRT / LRT Network Map</b></td>
                </tr>

                <tr>

                    <td>
                        <button class="btn btn-lg btn-success" ng-click="boonLay = !boonLay">Boon Lay</button>
                        <div class="box on" ng-show="boonLay" ng-animate="'box'"></div>
                    </td>

                    <td>
                        <button class="btn btn-lg btn-danger" ng-click="marsiling = !marsiling">Marsiling</button>
                        <div class="box on" ng-show="marsiling" ng-animate="'box'"></div>
                    </td>

                    <td>
                        <button class="btn btn-lg btn-custom">Boon Keng *</button>
                    </td>

                    <td>
                        <button class="btn btn-lg btn-warning">Bayfront *</button>
                    </td>

                    <td>
                        <button class="btn btn-lg btn-primary" ng-click="bayfront = !bayfront">Bayfront</button>
                        <div class="box on" ng-show="bayfront" ng-animate="'box'"></div>
                    </td>
                    <td>
                    	<button class="btn btn-lg btn-grey">Bangkit *</button>
                    </td>
                    <td rowspan="10">
                        <a class="thumbnail"><img src="images/Full Map.jpg" ng-click="enlarge()" alt="logo" width="100%"></a>
                    </td>
                </tr>

                <tr>

                    <td>
                        <button class="btn btn-lg btn-success" ng-click="chineseGarden = !chineseGarden">Chinese Garden</button>
                        <div class="box on" ng-show="chineseGarden" ng-animate="'box'"></div>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-danger">Sembawang *</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-custom">Farrer Park *</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-warning" ng-click="dakota = !dakota">Dakota</button>
                        <div class="box on" ng-show="dakota" ng-animate="'box'"></div>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-primary">Bugis *</button>
                    </td>
                    <td>
                    	<button class="btn btn-lg btn-grey">Bukit Panjang *</button>
                    </td>
                </tr>

                <tr>

                    <td>
                        <button class="btn btn-lg btn-success" ng-click="lakeside = !lakeside">Lakeside</button>
                        <div class="box on" ng-show="lakeside" ng-animate="'box'"></div>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-danger">Somerset *</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-custom">Kovan *</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-warning" ng-click="oneNorth = !oneNorth">One North</button>
                        <div class="box on" ng-show="oneNorth" ng-animate="'box'"></div>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-primary">Chinatown *</button>
                    </td>
                    <td>
                    	<button class="btn btn-lg btn-grey">Fajar *</button>
                    </td>
                </tr>

                <tr>
 
                    <td>
                        <button class="btn btn-lg btn-success" ng-click="tiongBahru = !tiongBahru">Tiong Bahru</button>
                        <div class="box on" ng-show="tiongBahru" ng-animate="'box'"></div>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-danger">Yishun *</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-custom">Sengkang *</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-warning">Bayfront *</button>
                    </td>
                    <td>
                        <button class="btn btn-lg btn-primary">Downtown *</button>
                    </td>
                    <td>
                    	<button class="btn btn-lg btn-grey">Pending *</button>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>-->

            <div ng-controller="MyCtrl">
                <calendar></calendar>
            </div>


	</body>
</html>