<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
    	<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
        <script type="text/javascript" src="js/dropdown.js"></script>
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/team16CSS.css" rel="stylesheet">
        
		<title>Team 16: T-Planner</title>
    </head>

    <body ng-app="my-app" ng-controller="AppController">
            
        <div class="navbar navbar-fixed-top">
            <table style="width:100%">
                <tr>  
                    <td style="width:1%">
                        <a type="button" href="application_main.html" class="btn btn-lg glyphicon glyphicon-home"></a>
                    </td>
                    <td style="width:10%"><a class="navbar-brand" href="application_main.html">T-Planner</a></td>
                    <td style="width:10%">
                        <button class="btn btn-lg btn-white">Current Location: </button>
                    </td>
                    <td style="width:13%">Invalid</td>
                    <td style="width:1%">
                        <a class="btn btn-primary" ng-click="resetCurrent = !resetCurrent">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>     
                    
                    <td style="width:10%">
                        <button class="btn btn-lg btn-white">Destination: </button>
                    </td>
                    <td style="width:13%">Invalid</td>
                    
                    <td style="width:1%">
                        <a class="btn btn-primary" ng-click="resetCurrent = !resetCurrent">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>                  
                    
                    <td style="width:10%">
                	<a type="button" href="application_briefInstruction_not_supported.html" 
                    class="btn btn-lg btn-info">Brief Instructions</a>
                    </td>  
                                    
                    <td style="width:10%">        	
                    <!-----	Route for Marsiling to Dakota	----->
                           <a type="button" href="application_pictorialGuide_not_supported.html"
                           class="btn btn-lg btn-info">Pictorial Guide</a>      	
                    </td>
                    
                    <td style="width:5%">
                        <button class="btn btn-lg btn-danger" ng-click="reset = !reset">Reset</button>	
                    </td>
                </tr>
            </table>    
        </div>
    
        </br>
        </br>
        </br>

		<h3>Brief Instructions</h3>
        
        <p>Route not supported</p>
            
    </body>
</html>