<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
    	<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="script.js"></script>
        <script type="text/javascript" src="js/dropdown.js"></script>
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/team16CSS.css" rel="stylesheet">
        
		<title>Team 16: T-Planner</title>
    </head>

    <body ng-app="my-app" ng-controller="AppController">
            
		<table style="width:100%">
            <tr>  
                <td style="width:1%"><a type="button" href="application_main.html" class="btn btn-lg glyphicon glyphicon-home"></a></td>
                <td style="width:10%"><a class="navbar-brand" href="application_main.html">T-Planner</a></td>
                <td style="width:10%">Current Location: </td>
				<td style="width:18%">{{currentLocation}}</td>
                <td style="width:10%">Destination: </td>
                <td style="width:18%">{{destination}}</td>
                <td style="width:12%">
                	<a type="button" ng-hide="!destination.length" href="application_briefInstruction.html" class="btn btn-lg btn-info" >Brief Instructions</a>
                </td>  
                             	
                <td style="width:12%">        	
                    <!-----	Route for Marsiling to Dakota	----->
                    <span ng-show=" destination=='Dakota' &&  currentLocation=='Marsiling' ">
                           <a type="button" ng-hide="!destination.length" href="application_pictorialGuide.html" class="btn btn-lg btn-info" >Pictorial Guide</a>
                    </span>
                    <!-----	Route for Boon Lay to One North	----->
                    <span ng-show=" destination=='One North' &&  currentLocation=='Boon Lay' ">
                           <a type="button" ng-hide="!destination.length" href="application_pictorialGuide_Boon Lay.html" class="btn btn-lg btn-info" >Pictorial Guide</a>
                    </span>
                    <!-----	Route for not supported ones	----->                 
                	<span ng-show=" !(destination=='Dakota' && currentLocation=='Marsiling') && !(destination=='One North' && currentLocation=='Boon Lay')">
                           <a type="button" ng-hide="!destination.length" href="application_pictorialGuide_not_supported.html" class="btn btn-lg btn-info" >Pictorial Guide</a>
                    </span>                	
                </td>
                
                <td style="width:5%">
                    <button class="btn btn-lg btn-danger" ng-click="reset = !reset">Reset</button>	
                </td>
            </tr>
		</table>

        <table class="table table-bordered" style="width:100%">

              <tr>	<!-----	First Row	----->
            	<td style="width:10%">East West Line</td>
                <td style="width:10%">North South Line</td>
                <td style="width:10%">North East Line</td>
                <td style="width:10%">Circle Line</td>
                <td style="width:10%">Downtown Line</td>
                <td style="width:10%">LRT</td>
                <td>MRT / LRT MAP</td>
            </tr>

            <tr>	<!-----	Second Row	----->
              <td>
                  <button class="btn btn-lg btn-success" ng-click="boonLay = !boonLay">Boon Lay</button>
                  <div class="box on" ng-show="boonLay" ng-animate="'box'"></div>
              </td>
              
              <td>
                  <button class="btn btn-lg btn-danger" ng-click="marsiling = !marsiling">Marsiling</button>
                  <div class="box on" ng-show="marsiling" ng-animate="'box'"></div>                  
              </td>
              
              <td>
                  
              </td>
              
              <td>
                  <button class="btn btn-lg btn-warning" ng-click="dakota = !dakota">Dakota</button>
                  <div class="box on" ng-show="dakota" ng-animate="'box'"></div>                    
              </td>
              
              <td>
                  <button class="btn btn-lg btn-primary" ng-click="bayfront = !bayfront">Bayfront</button>
                  <div class="box on" ng-show="bayfront" ng-animate="'box'"></div>                  
              </td>
              <td></td>
              <td rowspan="4"><img src="images/Full Map.jpg" width="60%" alt="Logo"></td>
            </tr>
            
            <tr>	<!-----	Third Row	----->
            	<td>
                	<button class="btn btn-lg btn-success" ng-click="chineseGarden = !chineseGarden">Chinese Garden</button>
                  	<div class="box on" ng-show="chineseGarden" ng-animate="'box'"></div> 
                </td>
                <td></td>
                <td></td>
                <td>
                    <button  class="btn btn-lg btn-warning"ng-click="oneNorth = !oneNorth">One North</button>
                  	<div class="box on" ng-show="oneNorth" ng-animate="'box'"></div>
                </td>
                <td></td>
                <td></td>
            </tr>
            
			<tr>	<!-----	Fourth Row	----->
            	<td>
                	<button  class="btn btn-lg btn-success"ng-click="lakeside = !lakeside">Lakeside</button>
                  	<div class="box on" ng-show="lakeside" ng-animate="'box'"></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        
            <tr>	<!-----	Fifth Row	----->
            	<td>
                	<button class="btn btn-lg btn-success" ng-click="tiongBahru = !tiongBahru">Tiong Bahru</button>
                  	<div class="box on" ng-show="tiongBahru" ng-animate="'box'"></div> 
                </td>
                <td>

                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
         
            <tr>
            	<td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                
                

                    <span ng-show="destination=='Dakota'">
                           Valid Dakota
                    </span>
                    <span ng-show="destination=='Boon Lay'">
                           Valid boon Lay
                    </span> 
                    <span ng-show=" destination=='Dakota' &&  currentLocation=='Marsiling' ">
                           Valid Dakota and Marsiling
                    </span> 
                
                
                
                
                </td>
<!--
				<a class="navbar-brand" href="application_briefInstruction.html">Boon Lay Brief</a>
				<a class="navbar-brand" href="application_pictorialGuide.html">Boon Lay Picture</a>
-->                
                
            </tr>
            
			<tr>
            	<td>{{necrodiver}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
               
        </table>
            
            
    </body>
</html>